body {
	font-family: Helvetica Neue, Helvetica, Arial;
    margin-bottom: 100px;
    font-size: 12px;
}

.header {
	margin-top: 30px;
}

.header h1 {
	margin-top: 10px;
}

h4 {
	padding-bottom: 10px;
}

.tinted {
	background-color: #fff6b2;
}

.handle {
	cursor: grab;
}

.list-group {
    border:1px solid #afb4fa;
    align-content: center;
    width: 10%;
    min-width: 120px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0px 15px; /* adjust here */
    margin-bottom: 2px;
    border: 1px solid #99e;
    line-height: 1em /* set to text height */
    
}

.list-group-item:hover {
	z-index: 0;
}

.input-section {
	background-color: rgb(255,255,255,0.5);
	padding: 20px;
}

.square-section {
	background-color: rgb(255,255,255,0.5);
}

.swap-threshold-indicator {
	background-color: #0079bf;
	height: 100%;
	display: inline-block;
}

.inverted-swap-threshold-indicator {
	background-color: #0079bf;
	height: 100%;
	position: absolute;
}

.indicator-left {
	left: 0;
	top: 0;
}

.indicator-right {
	right: 0;
	bottom: 0;
}

.num-indicator {
	position: absolute;
	font-size: 50px;
	width: 25px;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	color: white;
}